@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.mining-btn {
  display: none;
}

.selected {
  background-color: #2b076e;
  color: #fff;
}

.selected .arrow-btn {
  display: none;
}

.selected .mining-btn {
  display: flex;
}

.start-mining {
  background-image: url("/public/img/start-miing bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10% -25%;
}
